<?xml version="1.0"?>

<launch>
  <group ns="bebop">
      <node name="joy" pkg="joy" type="joy_node" >
        <param name="dev" value="/dev/input/js1" />
      </node>
      <node name="controller" pkg="ardrone_follower" type="controller.py" />
  </group>
  <include file="$(find bebop_driver)/launch/bebop_node.launch"/>
</launch>
