<?xml version="1.0"?>

<launch>
  <group ns="ardrone">
      <node name="joy" pkg="joy" type="joy_node" >
        <param name="dev" value="/dev/input/js1" />
      </node>
      <node name="controller" pkg="ardrone_follower" type="controller.py" />
  </group>
  <node name="ardrone_driver" pkg="ardrone_autonomy" type="ardrone_driver" output="screen">
    <remap from="cmd_vel" to="ardrone/cmd_vel" />
  </node>
</launch>
